
<section  class="text-center sec"   >
    
    <h2>Guardar Comida</h2>
    <hr>
        <section class="entrada"  >

            <article class="entradas">
                <form action="">

                    <div>

                        <label for="nombre" class="" >Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre de la comida">
                    
                    </div>

                    <div>

                        <label for="precio" class="" >Precio</label>
                        <input type="number" class="form-control" id="number" placeholder="Ingrese nombre de la comida">
                    
                    </div>

                    <div>

                        <label for="imagen" class="" >Ingrese imagen</label>
                        <input type="file" class="form-control" id="imagen" placeholder="Ingrese imagen">
                        
                    </div>


                    
                </form>
            </article>

            <article class="entradas ">

                <label for="contenido">Conetenido</label>
                <textarea class="form-control" id="contenido" rows="3"></textarea>

            </article>
        </section>
        <button class="btn btn-danger btn-block" >Enviar</button>



</section>