<section>

<h2 class="text-center pt-3">Comidas</h2>
<hr>
<div class="contenido">

    <img src="../../../assets/img/comida1.png" alt="">
   
    <div>
        <h3 class="text-center mb-3">Comida 1</h3>
        <hr>
        <p class="align-content-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rerum, amet illo ipsa corporis dolores magnam neque labore dignissimos repellendus sequi fugit quidem perferendis soluta maxime exercitationem, iste maiores aliquam.</p>
        <p class="text-center">precio: <span class="font-weight-bold">  80$ </span> </p>
        <button class="btn btn-danger btn-block" >Agregar al carrito</button>
    </div>

</div>

<div class="contenido">

    <img src="../../../assets/img/comida2.png" alt="">
   
    <div>
        <h3 class="text-center mb-3">Comida 2</h3>
        <hr>
        <p class="align-content-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rerum, amet illo ipsa corporis dolores magnam neque labore dignissimos repellendus sequi fugit quidem perferendis soluta maxime exercitationem, iste maiores aliquam.</p>
        <p class="text-center">precio:  <span class="font-weight-bold">  80$  </span> </p>
        <button class="btn btn-danger btn-block" >Agregar al carrito</button>
    </div>

</div>

</section>