section .contenido {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; 
    margin-bottom: 25px;

}

section h2 {

   font-weight: 600;

}

section  .contenido img{

    width: 30%;

}

section .contenido  h3 {

    font-weight: 600;

}
section .contenido div {

    width: 60%;

}
.informacion{
    font-size: 20px;

}

.precio {
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    section  .contenido img{
        width: 100%;
    }
    section .contenido div{
        margin-top: 15px;
        width: 90%;
    }

  }