/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


  .header .navbar {
    background-color: transparent !important;
  }
.footer {
    margin-top: 225px;
    border-top:1px solid #aaa;;
    padding-top: 1px;   
}

#formLogin { 
    margin: 0 auto; 
    width:250px;
    }

#conForm { 
        background-color: gainsboro;
        }
    
